.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.subtitle1,
.subtitle2,
.body1,
.body2,
caption {
  font-style: normal;
  color: #000000;
}

.h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
}
.h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
}
.h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}
.h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}
.h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.h6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 138%;
}
.subtitle1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.subtitle2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}
.body1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
}
.body2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
}
.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

/*******            background-color              *******/
.d-bg-primary {
  background-color: #2170b4;
}
.d-bg-secandary {
  background-color: #d7b21d;
}
.d-bg-dark {
  background-color: #0f0f0f;
}
.d-bg-warning {
  background-color: #ed8a0a;
}
.d-bg-natural {
  background-color: #4b92d4;
}
.d-bg-inactiv {
  background-color: #effbff;
}
.d-bg-dark_gray {
  background-color: #6f6f6f;
}
.d-bg-error {
  background-color: #e33e5a;
}
.d-bg-success {
  background-color: #29de92;
}
.d-bg-light {
  background-color: #ffffff;
}
.d-bg-light_gray {
  background-color: #e2e2e2;
}
.d-bg-grayddd {
  background-color: #e5e5e5;
}

/*******            text-color              *******/
.d-text-primary {
  color: #2170b4;
}
.d-text-secandary {
  color: #d7b21d;
}
.d-text-dark {
  color: #0f0f0f;
}
.d-text-warning {
  color: #ed8a0a;
}
.d-text-natural {
  color: #4b92d4;
}
.d-text-inactiv {
  color: #effbff;
}
.d-text-dark_gray {
  color: #6f6f6f;
}
.d-text-error {
  color: #e33e5a;
}
.d-text-success {
  color: #29de92;
}
.d-text-light {
  color: #ffffff;
}
.d-text-light_gray {
  color: #e2e2e2;
}

/*********** links *************/

.nav-link {
  text-decoration: none;
  padding: 8px 0px 25px 0px;
}
.d-border-radius {
  border-radius: 10px;
}

/*************** positions ****************/
.d-p-absolute {
  position: absolute;
}
.d-p-relative {
  position: relative;
}

/***************** Style Custom************************ */

.nav-active {
  right: 0px;
}

/****************** Back ground **********************/
.d-bg-cover {
  background-size: cover !important;
}


/****************** R-tech **********************/

input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* .v-select:not(.v-select--is-multi).v-text-field--single-line .v-select__selections {
  flex-wrap: wrap !important;
} */

.v-autocomplete.v-select.v-input--is-focused input {
min-width: 0px;
}

.pswp__button--share{
  display: none !important;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:25px;
	left:25px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:18px;
}

.v-card__title{
  word-break: normal !important;
}

.article_card{
  border-radius: 50px;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 

}

.article_card :hover{
  border-radius: 50px;
  transition: box-shadow .3s;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}